@import 'reset.scss';
@import 'base.scss';
@import 'messages.scss';
@import 'auth.scss';

.chat-client {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.resume {
  background-color: #FAE3FF;
  display: flex;
  flex-direction: row-reverse;
  i {
    color: #764B7F;
    padding: 0 15px 15px 0;
    font-size: 20px;
  }
}

.tagline {
  padding: 2vh 0 3vh 2vh;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 13px;
  font-weight: 100;
  width: 100%;
  overflow-y: scroll;
    p:first-child {
      color: #764B7F;
      padding: 0 0 5px 0;
    }
    p:last-child {
      padding: 0 0 0 10px;
    }
    display: flex;
  }

::-webkit-scrollbar {display:none;}

